/* 
h1{
    color: brown;
}
p{
    color: blueviolet;
}
button{
    color: brown;
}
 */
/* button{ 
    background-color: green;
 } */
  /* p{ */
    /* text-align: center; */
  /* } */
  /*  */
  
  /* #h1{ */
    /* font-weight: normal; */
  /* } */
  /* #h2{ */
    /* font-weight: bold; */
  /* } */
  /* #p1{ */
    /* font-family: 'arial'; */

  /* } */
  /* #p2{ */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* } */
  /*  */
  #one{
    font-size: 25px;
  }
